![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Introduction to data manipulation and viusualisation with Pandas

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Introduction

pandas is a library written for the Python for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

So since it's a module, we need to: 
- download pandas first from `pip install pandas`
- import it on our notebook

In [ ]:
import numpy as np
import pandas as pd

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Basic data exploration

- Reading data
- Selecting columns
- selecting rows

In [ ]:
df = pd.read_csv('../input/house-prices-data/train.csv', index_col='Id')

In [ ]:
type(df)
# pandas represents data in a tabular form known as DataFrame

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Selecting Columns
* Two ways
    - `df['col_name']` or `df[[array of cols]]`
    - `df.col_name` (auto complete feature works ðŸ™‚)

In [ ]:
df[['LotFrontage', 'SalePrice']]

In [ ]:
df.LotFrontage

In [ ]:
type(df['LotFrontage'])
# each column of a dataframe is known as Series

### Till now we saw that pandas only work with 2 data structures
- DataFrame
- Series

In [ ]:
# for multiple column selection, provide the array of columns
cols = ['LotFrontage', 'SalePrice', 'LotShape']
df[cols]

In [ ]:
df.SalePrice

In [ ]:
# .shape attribute will give you the (rows, columns) of a dataframe
df.shape

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Some basic functions for data exploration

In [ ]:
# selecting top 10, rows in a dataframe (by default it'll give you top 5 rows)
df.head(5)

In [ ]:
# selecting last 10 rows of dataframe (by default it'll give last 5 rows)
df.tail(5)

In [ ]:
# selecting randomly 10 rows in dataframe
df.sample(5)

In [ ]:
# getting array of all the present column names in dataframe
df.columns

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Selecting Rows
* 2 ways
    - `df.loc[]`
    - `df.iloc[]`

In [ ]:
df.head(10)

In [ ]:
# selecting a particular row with it's index name
#df.loc[2]
df.loc[5]

In [ ]:
df.iloc[5]

In [ ]:
# ignore this code for this moment, we'll discuss it later
d = df.groupby('LotConfig').count()
d.head()

In [ ]:
# NOTE: pass the index's name (here we have index as string)
d.loc['Inside']

In [ ]:
# .loc also takes the name of column or array of columns for showing the selective columns
df.loc[2, 'SalePrice']

In [ ]:
cols = ['LotConfig', 'SalePrice', 'Street']
df.loc[2, cols]

In [ ]:
# .iloc takes the sequential order of certain row (pandas count from 0)
d.iloc[4]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Conditional selection of rows

In [ ]:
df.head()

In [ ]:
# selecting rows where MSSubClass value is equal to 20
single_condition = df['MSSubClass'] == 20
single_condition # boolean array with True where condition met and False otherwise

### multiple condition:
- & => and
- | => or
- ! => not

In [ ]:
# selecting rows where 'LotConfig' is 'FR2' and MSSubClass is 20
multiple_condition = ((df['LotConfig'] == 'FR2') & (df['MSSubClass'] == 20))

In [ ]:
df[df['SaleCondition'] == 'Abnorml']

In [ ]:
# passing those boolean arrays will show you that rows where conditon is met
df[multiple_condition]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Getting some insights of data

In [ ]:
# gives basic information about columns in dataframe
df.info()

In [ ]:
# gives statistical information about columns of dataframe
df.describe()

In [ ]:
# returns the data type for each column
df.dtypes

In [ ]:
#selecting cols with a specific dtype
#object_cols_df = df.select_dtypes(include='object') # returns a dataframe
df.select_dtypes(include=['int64', 'float']).columns

In [ ]:
# showing unique values and their frequencey in a column
#df.LotConfig.value_counts() 
df['LotConfig'].value_counts()

In [ ]:
# showing the number of unique values in a column
#df.LotConfig.nunique() 
df.LotConfig.unique()

In [ ]:
# finding nan values
df.isnull()

In [ ]:
# converting entire dataframe into a 2D array
df.isna().values[:8,:8]

In [ ]:
#checking if our data has any nan value
#df.isna().values.any()
# any() function will true if there's atleast one True in array otherwise False
df.isna().values.any()

In [ ]:
# counting total number of nan values in a dataframe
df.isna().values.sum() # try to find why it worked, if you have doubt leave a comment ?
df.isna().values.sum()

In [ ]:
df.isna().sum()[:]

Ques: How to find all the columns that have nan values in them ?

Ans: We can check all the columns one by one manually ðŸ˜‘ NO THANKS

In [ ]:
# a better way to find all the columns that had nan values
# we loop through each column and check the condition for finding missing values
for column in df.columns:
    if df[column].isna().values.any():
        print(column)

In [ ]:
(df.isna().sum()/df.isna().count() * 100).sort_values(ascending = False).head(25)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Dealing with Date/Time in Pandas

Sometime we have data in which a particular column contains date as values, but those values are of object data type initially.
So we had to convert them into datetime format.

In [ ]:
new_df = pd.read_csv('../input/dataset/QueryResults.csv')
new_df.head()

In [ ]:
# see we have `date` column as type of object
new_df.dtypes

In [ ]:
# converting `Date` column from object to `datetime` format
new_df.Date = pd.to_datetime(new_df.Date)

In [ ]:
new_df.head()

In [ ]:
# well it worked :)
new_df.dtypes

In [ ]:
# a shorter way to do the same, `parse_date` parameter takes the array of column name that contain Dates as values
new_df = pd.read_csv('../input/dataset/QueryResults.csv', parse_dates=['Date'])
new_df.head()

In [ ]:
new_df.dtypes

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Dropping Stuff
- Droping a column
- Droping a row
- Droping `nan` values (we have a particular section for treatment of `nan` values)

In [ ]:
df.head()

In [ ]:
# dropping entire `SalePrice` column from dataframe, 
# remember axis=1 represents that we are moving along column and dropping its values
df.drop('SalePrice', axis=1)

In [ ]:
df.drop('SalePrice', axis = 1)

In [ ]:
# dropping multiple columns
columns_to_drop = ['SalePrice', 'LotArea']
df.drop(columns_to_drop, axis=1)

In [ ]:
# dropping rows,
# axis=0 represents that now we are moving along rows and dropping the values
#df.drop([1,5], axis=0)
df.drop([1, 4], axis = 0)

In [ ]:
df

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

* * ## Dealing with `nan` values

In Pandas there are two ways in which you can deal `nan` values :
- drop the rows / columns that contain `nan` value
- replace that `nan` value with some other value

In [ ]:
# dropping rows with nan values, by default axis=0
df.dropna(axis = 1)

unfortunately all of the rows in our data contain a `nan` value

In [ ]:
# dropping columns with nan values
dd = df.dropna(axis=1)

In [ ]:
dd.isna().values.any()

In [ ]:
# replacing nan values with another numerical value
filtered_df = df.fillna(0)
filtered_df

In [ ]:
filtered_df.isna().values.any()

Is the method that shown is really helpful ðŸ¤” ?

The problem with above method is that if our column will be of type object but still it got filled with a numerical value

A correct way is to provide the coloumn name and value to replace with `nan`

for example: 
let `column1` is a numerical column and `column2` is a object column
```python
df.fillna({
    'coloumn1' : 0
    'column2': 'missing',
})
```
now it'll replace the `nan` values in `column1` with 0 and `column2` with 'missing'

In [ ]:
filling = {}
for col in df.columns:
    if df[col].dtype == object:
        filling[col] = "missing"
    else:
        filling[col] = 0
filling

In [ ]:
filtered_df = df.fillna(filling)

In [ ]:
filtered_df

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Broadcasting Operations

Broadcasting functions are numpy's speciality. Since Pandas is built on top of nunpy so it also got this speciality.

These are basically element wise operations, you do some arithmetic operation on array and it get implemented on all of it's elements

In [ ]:
li = np.array([1,2,3,4,5])
li + 3

In [ ]:
# adding 10 to the `PoolArea` column
filtered_df.PoolArea = filtered_df.PoolArea + 10
filtered_df.head()
# that's why these arithmetic operations are called broadcasting operations

In [ ]:
# creating a new column from the sum of two already existing columns
filtered_df['MiscVal_MoSold'] = filtered_df['MiscVal'] + filtered_df['MoSold']
filtered_df.head()

In [ ]:
filtered_df['MiscVal_MoSold'] = 15
filtered_df.head()
# no need to use loops, broadcasting is awesome :)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Statistical insights from data

You've already seen the `describe` method, which gives you a good "summary" of the `DataFrame`. Let's explore other methods in more detail:

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
saleprice = df.SalePrice

In [ ]:
saleprice

In [ ]:
saleprice.min(), saleprice.max() # printing min and maximum values

In [ ]:
saleprice.sum() # printing sum of column

In [ ]:
saleprice.mean() # printing mean of column

In [ ]:
saleprice.std() # printing standard deviation of column

In [ ]:
saleprice.median() # printing median of column

In [ ]:
saleprice.describe()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## More functions and graph plotting

### Sorting

In [ ]:
df.head()

In [ ]:
# sorting dataframe according to the values of column `SalePrice`
df.sort_values('SalePrice', ascending=False)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### grouping the data according to a column

In [ ]:
new_df.head(10)

In [ ]:
new_df.shape

In [ ]:
# grouping the data and applying some operation on it
new_df.groupby('Tag').count()
# try it with mean() too :)

In [ ]:
# grouping and applying different operations on different columns
new_df.groupby('Tag').agg({'Date':pd.Series.count, 'Posts':pd.Series.sum})

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### using `transform` and understanding difference between `agg` and `transform`

In [ ]:
new_df.head()

In [ ]:
new_df.tail()

In [ ]:
new_df.groupby('Tag')['Posts'].transform('sum')
# play with the code for a while and try to understand, you'll surely like it
# if got any doubt, leave a comment :)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### string splitting and expanding

In [ ]:
new_df = pd.read_csv('../input/dataset/QueryResults.csv')
new_df.head()

In [ ]:
new_df.Date.dtype

In [ ]:
# splitting `Date` column from the " " (space) into values of arrray
splitted_date = new_df.Date.str.split(" ")
splitted_date

In [ ]:
# `expand` is a bool parameter, making it True will first split and then create separate column for both
date_time_df = new_df.Date.str.split(" ", expand=True)
date_time_df.columns = ['Date', 'Time']
date_time_df

In [ ]:
# Can you guess what I'am doing here ?
modified_df = new_df.drop('Date', axis=1)
modified_df

In [ ]:
# merging two dataframes
dataframes_to_be_merged = [date_time_df,modified_df]

modified_df = pd.concat(dataframes_to_be_merged,axis=1)

modified_df.head(10)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### query method

another way for conditional selection of rows

In [ ]:
df.head()

In [ ]:
# query takes the condtion as a string
df.query('LotConfig == "FR2" and MSSubClass == 20')

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### categorical encoding
- `facorize`
- `get_dummies`
- `target encoding`

for categorical encoding we'll be using a function `factorize` from pandas.
This function gives a numerical value to all the categories present in a column

- `factorize`

In [ ]:
dummy_df = df[['LotConfig','YrSold','SalePrice']]
dummy_df.head()

In [ ]:
dummy_df.LotConfig.value_counts()

In [ ]:
# .factorize() returns the encoded vlaues and the unique values in column
# we only need the encoded values
dummy_df.LotConfig, uniques = df.LotConfig.factorize()

In [ ]:
dummy_df.LotConfig.value_counts()

In [ ]:
uniques

- `pd.get_dummies`

In [ ]:
dummy_df = df[['KitchenQual','YrSold','SalePrice']]
dummy_df.head()

In [ ]:
df['KitchenQual'].value_counts()

In [ ]:
# .get_dummies is very similar to `one hot encoding`
# creates separate column for each unique column
pd.get_dummies(dummy_df,columns=['KitchenQual'])

In [ ]:
pd.get_dummies(dummy_df,columns=['KitchenQual'],prefix="dummy")

- target encoding

In [ ]:
dummy_df.head()

In [ ]:
# here we are grouping the unique categories with the mean of the SalePrice column
# .transform() we talked above, if you have doubt, leave a comment
dummy_df.groupby('KitchenQual')['SalePrice'].transform('mean')

In [ ]:
encoded_values = dummy_df.groupby('KitchenQual')['SalePrice'].transform('mean')

In [ ]:
encoded_df = pd.DataFrame(data=encoded_values, index=encoded_values.index)
encoded_df.head()

In [ ]:
encoded_df.columns = ['encoded_KitchenQual']
encoded_df.head()

In [ ]:
# another way of merging two dataframes
dummy_df.join(encoded_df)

now either you can drop the `KitchenQual` column or replace it's values with the `encoded_KitchenQual`

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Applying any function along column or row

In [ ]:
dummy_df = dummy_df[:5]
dummy_df

In [ ]:
func = lambda x: sum(x)
dummy_df[['YrSold','SalePrice']].apply(func=func, axis=0)
# remember apply() function pass only one argument to your custom function

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Iterating over dataframe
- `iterrows`
- `itertuples`

Using loop to iterate over a dataframe

- `iterrows`

In [ ]:
for (index,row) in dummy_df.iterrows():
    print(row)
    print() # just for extra line
    
# similarly you can access the values of each column through row[col]

- `itertuples`

In [ ]:
for tup in dummy_df.itertuples():
    print(tup)
    
# tup is a tuple with columns as it's values
# you can spread all the vlaues in a tuple by *tup

In [ ]:
for tup in dummy_df.itertuples():
    print(*tup)
    
# tup is a tuple with columns as it's values
# you can spread all the vlaues in a tuple by *tup

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### plotting graph

In [ ]:
df.head()

In [ ]:
plot_df = df[:30]

In [ ]:
# plotting bar graph
plot_df.plot(y='SalePrice', x='YrSold', kind='bar',figsize=(16,10))

In [ ]:
# plotting scatter graph
plot_df.plot(y='SalePrice', x='HouseStyle', kind='scatter')

In [ ]:
# plotting and understanding box plots
plot_df = plot_df.sort_values('SalePrice')
plot_df.plot(y='SalePrice', kind='box',figsize=(15,6))
# Box plot represents the Quartiles (Q1,Q2,Q3), minimum and maximum values in data

<img src="https://i.postimg.cc/wBFPWZ8W/boxplot.png"> </img>

In [ ]:
# plotting kernel density plot
plot_df.plot(y='SalePrice', kind='kde',figsize=(15,6))

In [ ]:
# plotting horizontal bar graph
plot_df = df.groupby('HouseStyle').agg({'SalePrice': pd.Series.mean})
plot_df = plot_df.sort_values('SalePrice')
plot_df.plot(y='SalePrice', kind="barh", figsize=(15,6))

# The End !!

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)