In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot

1. Import Dataset

In [3]:
dataset = pd.read_csv("Model_Data.csv")

In [4]:
dataset.describe()

                AT            V           AP           RH           PE
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [5]:
dataset.head(5)

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

2. Check Missing Data

In [6]:
dataset.isnull().values.any()

False

3. Encoding Categorical Column

In [7]:
# this is not applicable as there is Level feature

4. Split training and testing dataset

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

5. Feature Scaling

In [11]:
# this is not applicable

6. Create Model

In [12]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [13]:
poly_reg = PolynomialFeatures(degree = 4)

In [14]:
X_poly = poly_reg.fit_transform(X_train)

In [15]:
X_poly

array([[1.00000000e+00, 1.12200000e+01, 4.31300000e+01, ...,
        6.77242028e+09, 5.38603280e+08, 4.28345379e+07],
       [1.00000000e+00, 1.36700000e+01, 5.43000000e+01, ...,
        5.87072958e+09, 4.35831980e+08, 3.23553508e+07],
       [1.00000000e+00, 3.28400000e+01, 7.79500000e+01, ...,
        2.15967876e+09, 9.74822477e+07, 4.40009357e+06],
       ...,
       [1.00000000e+00, 1.68100000e+01, 3.85200000e+01, ...,
        5.86500714e+09, 4.33197009e+08, 3.19964912e+07],
       [1.00000000e+00, 1.28000000e+01, 4.11600000e+01, ...,
        7.76570573e+09, 6.54642544e+08, 5.51858229e+07],
       [1.00000000e+00, 3.23200000e+01, 6.79000000e+01, ...,
        1.45623249e+09, 5.49010997e+07, 2.06981424e+06]])

In [16]:
lin_reg_2 = LinearRegression()

7. Model training

In [17]:
lin_reg_2.fit(X_poly, y_train)

LinearRegression()

8. Model Testing(N/A)

In [18]:
y_pred = lin_reg_2.predict(poly_reg.transform(X_test))

In [19]:
np.set_printoptions(precision=2)

In [20]:
np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)

array([[433.94, 431.23],
       [457.9 , 460.01],
       [460.52, 461.14],
       ...,
       [469.53, 473.26],
       [438.27, 438.  ],
       [461.67, 463.28]])

9. Model Evaluation(N/A)

In [21]:
from sklearn.metrics import r2_score

In [22]:
r2_score(y_test, y_pred)

0.9458193347147953

10. Model Visualization(N/A)