In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1. Import Dataset

In [2]:
dataset = pd.read_csv("Model_Data.csv")

In [3]:
dataset.describe()

                AT            V           AP           RH           PE
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [4]:
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [5]:
y

array([463.26, 444.37, 488.56, ..., 429.57, 435.74, 453.28])

2. Check Missing Data(N/A)

3. Encode Categorical Column(N/A)

4. Split Training and Testing Dataset(N/A)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

5. Feature Scaling(N/A)

6. Create Model

In [7]:
from sklearn.tree import DecisionTreeRegressor

In [8]:
regressor = DecisionTreeRegressor(random_state = 0)

7. Model Training

In [9]:
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

8. Model Testing

In [10]:
y_pred = regressor.predict(X_test)

In [11]:
np.set_printoptions(precision=2)

In [12]:
np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)

array([[432.84, 431.23],
       [458.53, 460.01],
       [466.75, 461.14],
       ...,
       [471.43, 473.26],
       [439.5 , 438.  ],
       [461.7 , 463.28]])

9. Model Evaluation

In [14]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8792674236649752